<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q/A</title>
    <link rel="stylesheet" href="css/com-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
</head>
<body>
    <header>
        <div class="head">
            <div class="head-group">
                <span class="head-group-subtitle1">Desenvolvido por </span><span class="head-group-subtitle2">Lucas Criado</span><span class="head-group-subtitle3">&nbsp&nbsp•&nbsp&nbsp</span><span class="head-group-subtitle4">lucascriado.com</span>
            </div>
            <p> / Comunidade</p>
        </div>
        <h2 >Desenvolvido por <span>Lucas Criado</span></h2>
        <p class="header-subtitle">github.com/<span>lucascriado</span></p>
    </header>
</body>
</html>