<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
</head>
<body>
    <h1>create!></h1>
    <hr>
    <form action="/registerPost" method="POST">
        <label for="title">TITLE</label>
        <input for="title" name="title">
        <label for="content">CONTENT</label>
        <input for="content" name="content">
        <button>SUBMITZAOOO</button>
    </form>
</body>
</html>