<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
</head>
<body>
    <h1>create!></h1>
    <hr>
    <form action="/registerPost" method="POST">
        <label for="usernome">USERNAME</label>
        <input id="usernome" name="usernome">
        <label for="avatar">AVATAR</label>
        <input name="avatar" name="avatar">
        <label for="content">CONTENT</label>
        <input for="content" name="content">
        <button>SUBMITZAOOO</button>
    </form>
</body>
</html>