<!DOCTYPE html>
<html>
<head>
    <title>Edit Post</title>
</head>
<body>
    <h3>Edit Post:</h3>
    <form action="/editPost/<%= post.id %>" method="POST">
        <label for="content">Content:</label><br>
        <textarea id="content" name="content"><%= post.content %></textarea><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>