<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-cyan-950">
  <div class="flex justify-between  text-white rounded-mg h-[50rem] mx-20 mt-20 rounded-[2rem]">
    <div class="w-[50%] bg-blue-500 rounded-l-[2rem]">
      <img src="https://images.unsplash.com/photo-1707343843982-f8275f3994c5?q=100&w=2500&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="wallpaper" class="object-cover w-[100%] h-[100%] opacity-75 rounded-l-[2rem]">
    </div>
    <div class="w-[50%] rounded-r-[2rem] bg-white">
      
    </div>
  </div>
</body>
</html>