<% data.forEach((item) => { %>
    <div class="data-item">
        <h2>ID: <%= data.id %></h2>
        <p>Name: <%= data.name %></p>
        <p>Question: <%= data.question %></p>
        <p>Created At: <%= data.createdAt %></p>
    </div>
<% }) %>