<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q/A</title>
    <link rel="stylesheet" href="css/reg-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div class="head">
            <div class="head-group">
                <span class="head-group-subtitle1">Desenvolvido por </span><span class="head-group-subtitle2">Lucas Criado</span><span class="head-group-subtitle3">&nbsp&nbsp•&nbsp&nbsp</span><span class="head-group-subtitle4">lucascriado.com</span>
            </div>
            <p> / Comunidade</p>
        </div>
        <h2 >Desenvolvido por <span>Lucas Criado</span></h2>
        <p class="header-subtitle">github.com/<span>lucascriado</span></p>
    </header>
    <main>
        <img id="img-mb" src="images/-.png" alt="">
        <img id="img-pc" src="/images/pc-bnr.png" alt="">
        <div class="container">
            <h1>Olá, seja bem-vindo(a)!</h1>
            <p>Está é uma aplicação desenvolvida em <span>Node.js, mySQL.</span></p>
            <div class="forms">
                <label for="">Nome</label>
                <input id="name" type="text" placeholder="Como podemos te chamar?">
                <label for="">Pergunta</label>
                <textarea id="question" name="" id="" rows="3" placeholder="O que está com dúvida hoje?"></textarea>
                <button>Compartilhe!</button>
            </div>
        </div>
    </main>
    <footer></footer>
</body>

</html>

<!-- 
<%- include ('partials/header.ejs') %>
<%- include ('partials/footer.ejs') %> -->