<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compartilhe conosco!</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                screens: {
      'sm': {'min': '440px', 'max': '660px'},
      // => @media (min-width: 640px and max-width: 767px) { ... }

      'md': {'min': '768px', 'max': '1023px'},
      // => @media (min-width: 768px and max-width: 1023px) { ... }

      'lg': {'min': '1024px', 'max': '1279px'},
      // => @media (min-width: 1024px and max-width: 1279px) { ... }

      'xl': {'min': '1280px', 'max': '1535px'},
      // => @media (min-width: 1280px and max-width: 1535px) { ... }

      '2xl': {'min': '1536px'},
      // => @media (min-width: 1536px) { ... }
    },
                extend: {
                    colors: {
                        clifford: '#da373d',
                    }
                }
            }
        }
    </script>
</head>

<body class="bg-black text-white">
    <div class="container mx-auto w-64">
        <ul class="flex mt-4 justify-between align-middle">
            <li class="text-xl font-medium"><span>SA.</span> | feito por Lucas Criado.</li>
            <li class="text-xl font-medium"><i></i>Explorar.</li>
        </ul>
        <div class="flex mt-28 justify-between">
            <div class="flex flex-col">
                <h1>Share / Answers </h1>
                <p>Compartilhe suas dúvidas conosco!</p>
                <label for="">Nome</label>
                <input type="text">
                <label for="">Categoria</label>
                <select name="select">
                    <option value="valor1">Valor 1</option>
                    <option value="valor2" selected>Valor 2</option>
                    <option value="valor3">Valor 3</option>
                </select>
                <label for="">Pergunta</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <img src="/images/bg.png" alt="background">
        </div>

    </div>

</body>

</html>

<!-- 
<%- include ('partials/header.ejs') %>
<%- include ('partials/footer.ejs') %> -->