<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tailwind.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Compartilhe conosco!</title>
</head>

<body class="bg-black text-white">
    <div class="">
        <ul class="flex">
            <li><span>SA.</span> | feito por Lucas Criado.</li>
            <li><i></i>Explorar.</li>
        </ul>
        <div class="container-sub">
            <div class="container-sub-primary">
                <h1>Share / Answers </h1>
                <p>Compartilhe suas dúvidas conosco!</p>
                <label for="">Nome</label>
                <input type="text">
                <label for="">Categoria</label>
                <select name="select">
                    <option value="valor1">Valor 1</option>
                    <option value="valor2" selected>Valor 2</option>
                    <option value="valor3">Valor 3</option>
                </select>
                <label for="">Pergunta</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="container-sub-second"></div>
            <img src="/images/bg.png" alt="background">
        </div>

    </div>

</body>

</html>

<!-- 
<%- include ('partials/header.ejs') %>
<%- include ('partials/footer.ejs') %> -->