<!DOCTYPE html>
<html lang="pt-br">


<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/polygon.ico" type="image/x-icon">
    <title>Forms</title>
    <link rel="stylesheet" href="/css/question.css">
<body>
    <div class="container">
        <%- include ('partials/header.ejs') %>
        <h1>hello world</h1>
        <%- include ('partials/footer.ejs') %>
    </div>
</body>

</html>