<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compartilhe conosco!</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <script>
        tailwind.config = {
            theme: {
                screens: {
                    'sm': { 'min': '440px', 'max': '660px' },
                    // => @media (min-width: 640px and max-width: 767px) { ... }

                    'md': { 'min': '768px', 'max': '1023px' },
                    // => @media (min-width: 768px and max-width: 1023px) { ... }

                    'lg': { 'min': '1024px', 'max': '1279px' },
                    // => @media (min-width: 1024px and max-width: 1279px) { ... }

                    'xl': { 'min': '1280px', 'max': '1535px' },
                    // => @media (min-width: 1280px and max-width: 1535px) { ... }

                    '2xl': { 'min': '1536px' },
                    // => @media (min-width: 1536px) { ... }
                },
                extend: {
                    fontFamily: {
                        manrope: ['Manrope'],
                    }
                }
            }
        }
    </script>
</head>

<body class="bg-black text-white font-manrope">
    <div class="container mx-auto w-[1440px]">
        <ul class="flex mt-[20px] w-[1240] justify-between align-text-bottom">
            <li class="text-[24px] font-normal"><span class="text-[36px] font-semibold">SA.</span> | feito por Lucas
                Criado.</li>
            <li class="text-[24px] font-normal"><i></i>Explorar.</li>
        </ul>
        <div class="flex mt-[172px] gap-[150px] w-[1240]">
            <div class="flex flex-col">
                <h1>Share / Answers </h1>
                <p>Compartilhe suas dúvidas conosco!</p>
                <div>
                    <label for="">Nome</label>
                    <input type="text">
                    <label for="">Categoria</label>
                    <select name="select">
                        <option value="valor1">Valor 1</option>
                        <option value="valor2" selected>Valor 2</option>
                        <option value="valor3">Valor 3</option>
                    </select>
                </div>
                <label for="">Pergunta</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <img src="/images/bg.png" alt="background">
        </div>

    </div>

</body>

</html>

<!-- 
<%- include ('partials/header.ejs') %>
<%- include ('partials/footer.ejs') %> -->